@charset "UTF-8";
.box1 {
    width: 100px;
    height: 100%;
    background-color: #F3D2DE;
    display: flex;
    flex: 1;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.box2 {
    width: 100px;
    height: 100%;
    background-color: #C0CCEC;
    flex: 2;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.box3 {
    width: 100px;
    height: 100%;
    background-color: #EDEECF;
    flex: 1;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 200px;
    align-items: center;
	
}
